.search-result__image {
  width: 100%;
  max-height: 17rem;
  position: relative;
  border-radius: 1.25rem 1.25rem 0 0;
}

/* @media screen and (max-width: 1100px) {
  .search-result__image {
    max-height: 9.375rem;
  }
} */
