@import url(./__image-box/search-result__image-box.css);
@import url(./__card/search-result__card.css);
@import url(./__image/search-result__image.css);
@import url(./__add-button/search-result__add-button.css);
@import url(./__cards/search-result__cards.css);
@import url(./__login-ask/search-result__login-ask.css);
@import url(./__info-box/search-result__info-box.css);
@import url(./__date/search-result__date.css);
@import url(../title/title.css);
@import url(../subtitle/subtitle.css);
@import url(./__source/search-result__source.css);
@import url(../button/button.css);
@import url(./__tag/search-result__tag.css);

.search-result {
  display: flex;
  flex-direction: column;
  padding: 0 6.5rem 0 6.5rem;
  background-color: #f5f6f7;
}

@media screen and (max-width: 1100px) {
  .search-result {
    padding: 0 2.5rem 0 2.5rem;
  }
}
