.header__info.header__info_saved {
  margin: 0;
  padding: 2.5rem 0 3.5rem 6.5rem;
}

@media screen and (max-width: 1100px) {
  .header__info.header__info_saved {
    padding: 1.5rem 0 2rem 2.5rem;
  }
}
