.search-result__info-box {
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

@media screen and (max-width: 1100px) {
  .search-result__info-box {
    max-height: 16.875rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .search-result__info-box {
    padding: 1rem;
  }
}
