.title__header {
  font-size: 3.75em;
  color: white;
  padding: 5rem 0 2.188rem;
  line-height: 4rem;
}

@media screen and (max-width: 1100px) {
  .title__header {
    font-size: 2.25em;
    max-width: 24.063rem;
    line-height: 1.4em;
  }
}
