@import url(./__input/search-field__input.css);
@import url(../button/button.css);

.search-field {
  position: relative;
  width: 37.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .search-field {
    width: 28rem;
    height: 3.5rem;
  }
}

@media screen and (max-width: 670px) {
  .search-field {
    width: 100%;

    padding: 0 1rem 0 1rem;
  }
}
