.popup__field-name {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 0.938em;
  color: #2f71e5;
}

.popup__field-name:first-child {
  padding-top: 1.375em;
}
