@import url(./_black/header__menu_black.css);

.header__menu {
  display: grid;
  grid-auto-flow: column;
  height: 5rem;
  box-shadow: inset 0 -0.063em 0 rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 670px) {
  .header__menu {
    grid-auto-flow: row;
    background: #1a1b22;
  }
}
