@import url(./_open/header__buttons_open.css);

.header__buttons {
  display: grid;
  list-style-type: none;
  grid-gap: 2.125rem;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  padding-right: 6.5rem;
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .header__buttons {
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 741px) {
  .header__buttons {
    padding: 0 0 1.5rem 2.5rem;
    grid-gap: 1.375rem;
    justify-content: start;

    grid-template-rows: 1fr 1fr;
    background: #1a1b22;
    z-index: 2;
    display: none;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 670px) {
  .header__buttons {
    padding-left: 1rem;
  }
}
