.title__search-result-article {
  font-size: 1.625em;
  padding-top: 0.75rem;
}

@media screen and (max-width: 1296px) {
  .title__search-result-article {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 1100px) {
  .title__search-result-article {
    font-size: 1.375em;
  }
}

@media screen and (max-width: 836px) {
  .title__search-result-article {
    -webkit-line-clamp: 3;
  }
}

@media screen and (max-width: 680px) {
  .title__search-result-article {
    -webkit-line-clamp: 2;
  }
}
