.footer__link-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  align-content: center;
  justify-content: end;
  padding-right: 3.75rem;
  list-style-type: none;
}

@media screen and (max-width: 1100px) {
  .footer__link-container {
    padding-right: 2.125em;
  }
}

@media screen and (max-width: 670px) {
  .footer__link-container {
    grid-auto-flow: row;
    grid-row-start: 1;
    grid-column-start: 1;
  }
}
