.search-result__login-ask {
  position: absolute;
  height: 2.5em;
  max-width: 11.375rem;
  right: 4.313rem;
  top: 1.5rem;
  padding: 0 0.75rem 0 0.75rem;
  background: #ffffff;
  border: none;
  font-size: 0.625em;
  border-radius: 0.625rem;
  z-index: 1;
}

@media screen and (max-width: 1029px) {
  .search-result__login-ask {
    display: none;
  }
}
