@import url(./__buttons/header__buttons.css);
@import url(./__info/header__info.css);
@import url(./__menu/header__menu.css);
@import url(./__logo/header__logo.css);
@import url(../../blocks/subtitle/subtitle.css);
@import url(../title/title.css);
@import url(./_white/header_white.css);
@import url(./__button/header__button.css);
@import url(./__tags/header__tags.css);
@import url(../subtitle/subtitle.css);
@import url(./__menu-mobile/header__menu-mobile.css);
@import url(./_dark/header_dark.css);

.header {
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}
