@import url(./__content/popup__content.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__input/popup__input.css);
@import url(./_is-opened/popup_is-opened.css);
@import url(./__field-name/popup__field-name.css);
@import url(../button/button.css);
@import url(./__other-registration/popup__other-registration.css);
@import url(./__other-box/popup__other-box.css);
@import url(./__other-text/popup__other-text.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: none;
}
